---
layout : tataletak.njk
namakamu : M Alfan Riyadi

---



<div class="flex-container">
  <div>
    <h1> Profil Saya </h1>
    <div><img src = "/assets/img/profil.png"></div>
    <h3> {{namakamu}} </h3>
    <h1> 14117150 </h1>
    <h1> Informatika </h1>
  </div>

</div>
