---
layout : tataletak.njk
gallery : Ini Adalah galeri

---


<h1> {{gallery}} </h1>

<div class="flex-container">
  <div><img src = "/assets/img/gunung.jpg"></div>
  <div><img src = "/assets/img/images.jpeg"></div>
  <div><img src = "/assets/img/index.png"></div>  
</div>



